<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="shine"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shine"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MypageModifyActivity"
            android:exported="false" />

        <service
            android:name=".Adapter.MyPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.message.default_notification_icon"
            android:resource="@drawable/logoonly" />
        <meta-data
            android:name="com.google.firebase.message.default_notification_color"
            android:resource="@color/mainColor" />
        <meta-data
            android:name="com.google.firebase.message.default_notification_channel_id"
            android:value="fcm_default_channel" />

        <activity
            android:name=".AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".mypost_fm"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>